/* CSS Adapted from the following: 
   https://dev.to/ayushmanbthakur/how-to-make-tic-tac-toe-in-browser-with-html-css-and-js-28ed
   https://reactjs.org/tutorial/tutorial.html
*/

* {
    font: Arial, Helvetica, sans-serif;
}

body {
    background: #eee;
}

ol, ul {
    margin: 20px;
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    display: flex;
    background: #fff;
    border: 3px solid black;
    float: left;
    font-size: 3rem;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100px;
    transition: background 0.2s ease-in-out
}

    .square:focus {
        outline: none;
    }

    .square:hover {
        cursor: pointer;
        background: #eef0f1;
    }

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    min-height: 100vh;
    min-height: 100vh;
    background: #eee;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #eee;
}

.game-info {
    margin: 20px;
}
